name: CI Build
on:
    push:
        branches: [main]
    pull_request:
        branches: [main]
jobs:
    ci:
        runs-on: ubuntu-latest
        steps:
            # kéo repo về máy ảo của github, các lệnh sau đó thực thi tại thư mục gốc của repo
            - name: checkout code
              uses: actions/checkout@v3
            - name: setup node 
              uses: actions/setup-node@v4
              with:
                  node-version: '20'
            # tai sao lại dùng npm ci thay vì npm install: https://docs.npmjs.com/cli/v9/commands/npm-ci
            - name: install dependencies
              run: npm ci
            - name: build proj
              run: npm run build
            
