name: CI Basis
on:
    push:
        branches: [main]
    pull_request:
        branches: [main]
jobs:
    ci:
        runs-on: ubuntu-latest
        steps:
            - name: checkout code
              uses: actions/checkout@v3
            - name: check node version
              run: node -v
            - name: say hello
              run: echo "Hello, CI!"
